/* Allow users in admin group to run GParted without authentication */
polkit.addRule(function(action, subject) {
    if (subject.isInGroup("adm")) {
        return polkit.Result.YES;
    }
});